<div class="col-md-12 row d-flex justify-content-evenly mb-0">
  <div class="col-md-5 row d-flex">
    <div class="col-md-4">
      <a href="#"><i class="bi bi-facebook"></i></a>
    </div>
    <div class="col-md-4">
      <a href="#"><i class="bi bi-twitter"></i></a>
    </div>
    <div class="col-md-4">
      <a href="#"><i class="bi bi-instagram"></i></a>
    </div>
  </div>
  <div class="col-md-5">
    <div class="col-md-12">
      <form>
        <label>Nom complet</label>
        <input type="text" class="form-control" placeholder="Nom complet" />
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Email" />
        <label>Message</label>
        <textarea class="form-control" style="resize: none;" required placeholder="Nom complet"></textarea>
        <input type="submit" value="Envoyer" class="btn mt-2 btn-primary">
      </form>
    </div>
  </div>
</div>
