<div class="col-md-3">
    <div class="cardteam">
        <div class="img"></div>
          <div class="info">
            <span>John Doe</span>
            <p>Web Dev</p>
          </div>
          <a href="#">Button</a>
        </div>
</div>

<div class="col-md-3">
    <div class="cardteam">
        <div class="img"></div>
          <div class="info">
            <span>John Doe</span>
            <p>Web Dev</p>
          </div>
          <a href="#">Button</a>
        </div>
</div>

<div class="col-md-3">
    <div class="cardteam">
        <div class="img"></div>
          <div class="info">
            <span>John Doe</span>
            <p>Web Dev</p>
          </div>
          <a href="#">Button</a>
        </div>
</div>